<h5>Well, <%=first%> what is the amount you have for me today, and remember  only turn it into the least combination of coins</h5>

<form method="post" action="amount">
	<input type="number" name="total">
	<input type="submit" action="enter">
	<input type="hidden" name="first" value="<%=first%>">
	<input type="hidden" name="last" value="<%=last%>">
</form>	
