<head>
<link rel = "stylesheet" href="/css/style.css">	
<header>
<ul>
	<li><a href='/'> name section </a></li>
	<li><a href='/amount'> enter amount </a></li>
	<li><a href='/random'> random</a></li>
</ul>
</header>
</head>



<%=yield%>









<footer><a class="text" href="https://www.youtube.com/watch?v=z91Fa0pqQgE"target= "_blank">
just watch it
</a></footer>