<h4> Howdy, what is your name? </h4>


<form method="post" action="name">
first name <input type="text" name="first">
last name <input type="text" name="last">
			<input type="submit" value="enter">
</form>